@import "mixinsAndparameters";

body {
  background-image: url("../../images/back.jpg");
  background-position: inherit;
  background-size: cover;
  background-attachment: fixed;
  width: min-content;
}

.projectName {
  @include nameOfElem(
    $fontSize: clamp(10px, 4vw, 40px), 
    $fontFamily: $fontProjectName,
    $inputPadding: 10px,
    $inputWidth: 700px,
    $fontColor: white,
    $inputZindex: 1
    );
}

.listName {
    @include nameOfElem(
      $fontSize: $fontSizeListName, 
      $fontFamily: $fontProjectName,
      $inputPadding: 10px,
      $inputWidth: none,
      $fontColor: white,
      $inputZindex: 1
      );

}

.tasksContainer {
  height: 400px;
}


.editTaskName {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: rgba(10, 73, 110, 0.322);
  border-radius: $borderRadius;
  margin: 1.5%;


  & .taskName {
    @include nameOfElem(
      $fontSize: $fontSizeListName, 
      $fontFamily: $fontProjectName,
      $inputPadding: 10px 0,
      $inputWidth: none,
      $fontColor: none,
      $inputZindex: -1
      );
  }

  & img {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    margin-top: 1%;
  }
}

.App h1 {
  font-family: $fontPlannerName;
  color: rgba(0, 174, 255, 0.699);
  margin: 0;
}

.plannerHeaderContainer {
  position: relative;
  height: 120px;

  & .plannerHeader {
    position: fixed;
    width: 100%;
  }
}

.showNameInput {
    opacity: 1 !important;
    z-index: 2 !important;
  }

.addNewListContainer {
  position: relative;
  height: 70px;

  & .addNewList {
    position: fixed;
    width: 100%;
    transition: all .2s ease;
    cursor: pointer;

    & p {
      margin: 0;
    }
  }
  
  & .addNewList:hover {
    background-color: rgba(255, 255, 255, 0.904);
  } 
}

.addSomeElement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  cursor: pointer;

  & img {
    height: 20px;
    padding: 5px;
  }
}

.createdListsContainer {
  display: grid;
  grid-template-columns: repeat(15, $tasksCardWidth);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;

  & .createdList {
    padding: 20px 5px;
    text-align: center;
    border-radius: $borderRadius;

    & .listName{
      background-color: rgba(0, 0, 0, 0.459);
      border-radius: 10px;
    }
  }

  & .tasksContainer {
    overflow-y: auto;
    margin-top: 3%;
  }
}

.list {
  background-color: $listsBackground;

  & p {
    font-family: $fontText;
  }
}

.hideElem {
    display: none;
}


.inputFieldForTasks {
  
  & input {
    margin: 5px;
  }

  & button {
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: ease-in-out .2s;
  }

  & .btnAddCard {
    background-color: rgba(188, 248, 172, 0.637);
  }

  & .btnAddCard:hover {
    background-color: rgb(32, 134, 7);
  }

  & .btnCancelAddCard:hover {
    background-color: rgb(245, 169, 146);
  }
}

.overlap {
    position: absolute;
    height: 50px;
    width: $tasksCardWidth;
}

.availableDrop {
  border: 3px dashed rgb(21, 255, 0);
}
