@import "mixinsAndparameters";

body {
  background-image: url("./back.jpg");
  background-position: inherit;
  background-size: cover;
  background-attachment: fixed;
}

.projectName {
  @include nameOfElem(
    $fontSize: clamp(10px, 4vw, 40px), 
    $fontFamily: $fontProjectName,
    $inputWidth: 700px,
    $fontColor: white
    );
}

.listName {
  @include nameOfElem(
    $fontSize: $fontSizeListName, 
    $fontFamily: $fontProjectName,
    $inputWidth: none,
    $fontColor: none
    );
}

.App h1 {
  font-family: $fontPlannerName;
  color: rgba(0, 174, 255, 0.699);
  margin: 0;
}

.plannerHeaderContainer {
  position: relative;
  height: 120px;

  & .plannerHeader {
    position: fixed;
    width: 100%;
  }
}

.showNameInput {
    opacity: 1 !important;
  }

.addNewListContainer {
  position: relative;
  height: 70px;

  & .addNewList {
    position: fixed;
    width: 100%;
    transition: all .2s ease;
    cursor: pointer;

    & p {
      margin: 0;
    }
  }
  
  & .addNewList:hover {
    background-color: rgba(255, 255, 255, 0.904);
  } 
}

.addSomeElement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  padding: 5px;

  & img {
    height: 20px;
    padding: 5px;
  }
}

.createdListsContainer {
  display: grid;
  grid-template-columns: repeat(15, $tasksCardWidth);
  grid-column-gap: 10px;

  & .createdList {
    padding: 5px;
    text-align: center;
    border-radius: $borderRadius;
  }
}

.list {
  background-color: $listsBackground;

  & p {
    font-family: $fontText;
  }
}

.hideElem {
    display: none;
}


.overlap {
    position: absolute;
    height: 60px;
    width: $tasksCardWidth;
}