$fontPlannerName: 'The Nautigal', cursive;
$fontProjectName: 'EB Garamond', serif;
$fontText: 'Roboto', sans-serif;
$fintSizeListName: 20px;
$projectNameBackground: rgba(71, 40, 22, 0.712);
$listsBackground: rgba(255, 255, 255, 0.603);
$tasksCardWidth: 230px;
$borderRadius: 7px;



@mixin inputForNames {
    opacity: 0;
    font-family: $fontProjectName;
    cursor: pointer;
    text-align: center;
}

li  {
    list-style-type: none;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: $borderRadius;
}

ul {
    padding-left: 5px;
}

body {
  background-image: url("./back.jpg");
  background-position: inherit;
  background-size: cover;
  background-attachment: fixed;
}

.App h1 {
  font-family: $fontPlannerName;
  color: rgba(0, 174, 255, 0.699);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.plannerHeaderContainer {
  position: relative;
  height: 120px;

  & .plannerHeader {
    position: fixed;
    width: 100%;
  }
}

.projectName {

  & > div {
    width: 55%;
    position: relative;
  }

  & .projectNameHeader > div {
    position: absolute;
    background-color: $projectNameBackground;
    width: 100%;
    text-align: center;
    border-radius: $borderRadius;
    z-index: -1;
  }

  & .projectNameHeader p {
    margin: 0;
    padding-top: 2px;
    font-size: clamp(10px, 4vw, 40px);
    font-family: $fontProjectName;
    color: #fff;
  }

  & .projectNameInput {
    z-index: 1;
  }
  
  & .projectNameInput input {
    @include inputForNames;
    width: 100%;
    font-size: clamp(10px, 4vw, 40px);
  }
}

.showNameInput {
    opacity: 1 !important;
  }

.listName {
        display: flex;
        justify-content: center;

    & .listNamePar {
        position: absolute;

        & p {
            font-size: $fintSizeListName;
            margin: 12px;
            font-family: $fontProjectName;
            
        }
    }
    & .listNameInput {
        padding: 10px;
        z-index: 1;

        & input {
            @include inputForNames;
            font-size: $fintSizeListName;
        }
    }
}

.addNewListContainer {
  position: relative;
  height: 70px;

  & .addNewList {
    position: fixed;
    width: 100%;
    transition: all .2s ease;
    cursor: pointer;

    & p {
      margin: 0;
    }
  }
  
  & .addNewList:hover {
    background-color: rgba(255, 255, 255, 0.904);
  } 
}

.addSomeElement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  padding: 5px;

  & img {
    height: 20px;
    padding: 5px;
  }
}

.createdListsContainer {
  display: grid;
  grid-template-columns: repeat(15, $tasksCardWidth);
  grid-column-gap: 10px;

  & .createdList {
    padding: 5px;
    text-align: center;
    border-radius: $borderRadius;
  }
}

.list {
  background-color: $listsBackground;

  & p {
    font-family: $fontText;
  }
}

.hideElem {
    display: none;
}


.overlap {
    position: absolute;
    height: 60px;
    width: $tasksCardWidth;
}